<p style="color: green"><%= notice %></p>

<%= render @item_owner %>

<div>
  <%= link_to "Edit this item owner", edit_item_owner_path(@item_owner) %> |
  <%= link_to "Back to item owners", item_owners_path %>

  <%= button_to "Destroy this item owner", @item_owner, method: :delete %>
</div>
